@page
@model HoleyForkingShirt.ReceiptModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using HoleyForkingShirt.Models
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Order Details:</h1>

<p>@User.Claims.First(c => c.Type == ClaimTypes.GivenName).Value</p>
<h2>Cart:</h2>
<table>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model.InCart)
    {
        <tr>
            <td>@item.Product.Name</td>
            <td>@item.Qty</td>
            <td>$@item.Product.Price</td>
        </tr>
    }
</table>
<p>Total: $@Model.Total</p>

