body {
    background-image: url(https://www.publicdomainpictures.net/pictures/210000/velka/cloth-background-1489327148qPl.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
}
nav > form {
    text-align: right;
    padding: 0;
}
    nav>form>button, nav.navbar-dark>a.navbar-text {
        padding: .5em 1em;
        background-color: transparent;
        border: none;
        color:aquamarine;
    }

        nav > form > button:hover, nav>a.navbar-text:hover {
            transition-duration: 0.5s;
            color: #343a40;
            background-color: aquamarine;
        }

h2, h1 {
    font-family: 'Montserrat', sans-serif;
}

    h2.subtitle {
        text-align: center;
        font-size: 7vh;
    }

a, a:hover {
    text-decoration: none;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 80%;
}

main {
    max-width: 960px;
    margin: 0 auto;
    background-color: hsla(200, 100%, 5%, 0.70);
    color: antiquewhite ;
    font-family: 'Montserrat', sans-serif;
    display: grid;
}
.row {
    width: 100%;
    margin: 0;
}

#title{
    margin: 0 auto;
    width: 70%;
    text-align:center;
    font-weight:bold;
    border-style:dashed;
}
    #title > h1 {
        font-size: 60px;
        padding: .5em;
    }

#featured {
    background-image: url(https://i.imgur.com/qFObFkC.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: hsl(200, 100%, 5%);
    display: grid;
}
    #featured>* {
        background-color: hsl(34, 78%, 91%);
        margin: 0;
        padding: .5em .5em;
    }
    #featured>p {
        padding: 1em 2em;
        font-size: 20px;
        text-align: center;
    }
        #featured:hover > * {
            transition-duration: 1s;
            color: hsl(200, 100%, 10%);
            background-color: hsla(34, 78%, 91%, 0.5);
        }

#yes{
    display: none;
}

#shop {
    padding: 0;
    color: antiquewhite;
    font-size: 500%;
    font-family: 'Dancing Script', cursive;
    background-image: url(https://c1.wallpaperflare.com/preview/632/667/832/apparel-clothing-fashion-hangers.jpg)
}
    #shop > div {
        background-color: hsl(200, 100%, 10%);
        width: 100%;
        height: 100%;
    }
        #shop > div > p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    #shop:hover>div{
        transition-duration: 1s;
        background-color: hsla(200, 100%, 10%, 0.7);
        color:aliceblue;
    }

.name{
    color:red;
}

.img-fluid {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: aliceblue;
    text-align: center;
    color: #343a40;
}

.cart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
    z-index: 1;
    background-color: hsl(200, 100%, 10%);
    color: antiquewhite;
    padding: 1em 1em;
}

.cart label:hover {
    cursor: pointer;
}

.toggle {
    transition: max-height 1.5s;
    background-color: aliceblue;
    color: #343a40;
    max-height: 0;
}
    .toggle a {
        background-color: hsl(200, 100%, 10%);
        padding: 1em;
        display:block;
        position: sticky;
        bottom: 0;
        text-align:center;
        color: antiquewhite;
    }
        .toggle a:hover {
            font-style: oblique;
            background-color: hsl(200, 100%, 20%);
        }

        .toggle {
            overflow: auto;
        }
#minimize:checked + .toggle {
    max-height: 40vh;
}
#minimize {
    display: none;
}
#Qty {
    font-style:oblique;
}

.product {
    background-color: hsl(200, 100%, 5%);
    font-size: 2vh;
    padding: 1em 1em 3em;
    display: grid;
    grid-template-rows: 25% 15% auto;
    min-width: 30%;
}

    .product a {
        color: aliceblue;
    }

.product p:first-child {
    word-break: normal;
    font-size: 3vh;
}
    .product img {
        border-radius: 5%;
        border: hsl(200, 100%, 15%) 3px solid;
    }

.details, .checkout {
    padding: 2em;
}

    .checkout p:last-of-type {
        margin: 1em  0;
        padding: .5em;
        background-color: aliceblue;
        color: #343a40;
    }
    .checkout button {
        margin-left: auto;
        padding: 1em;
        background-color: hsl(200, 100%, 5%);
        color: antiquewhite;
        border: none;
    }
        .checkout button:hover {
            background-color: hsl(200, 100%, 15%);
        }

.productimage {
    border-radius: 5%;
    border: hsl(200, 100%, 15%) 3px solid;
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .navbar-text, nav .subtitle {
        display: none;
    }
    #title {
        font-size: 10vw;
    }
    #featured>p {
        display: none;
    }
}