@using Microsoft.AspNetCore.Identity
@using HoleyForkingShirt.Models
@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_Layout";
}
    <div class="row" id="title">
        <h1><span class="subtitle">Welcome to</span><br />Holey Forking Shirts!</h1>
    </div>
    <div class="row">
        <a class="col-6" id="shop" asp-page="/Products/Shop">
            <div>
                <p>Shop</p>
            </div>
        </a>
        <a class="col-6" id="featured" asp-page="/Products/Details" asp-route-id="8">
            <h3 class="subtitle">Featured Product</h3>
            <p>
                Holey Blue Socks <br />
                Give that right big toe some breathing room with these un-darned socks!
            </p>
        </a>
    </div>
    