<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
        <title>Holey Forking Shirts: Hello!</title>
    </head>
    <body>
        <div id="title">
            <p>Welcome to Holey Forking Shirts!</p>
        </div>
        
        <p id="featured">
            Featured Product!!!! <br />
        </p>
        <p id="featured2">
            Holey Blue Socks <br />
            Give that right big toe some breathing room with these un-darned socks!
        </p>
        <p id="yes"> jon smells. jk best grader ever</p>
        <img src="https://i.imgur.com/qFObFkC.jpg" id="toes"  />
       
    </body>
</html>