@page
@model HoleyForkingShirt.Pages.Cart.CartModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <p>Cart</p>

    <div class="container">
        <div class="row">
            @foreach (var item in Model.InCart)
            {
                <div class="col-4 product">
                    @item.Product.Name (@item.Qty)

                    <a asp-page="/Products/Details" asp-route-id="@item.Product.ID"><img src="@item.Product.Image" class="img-fluid" /></a>

                </div>
            }
        </div>

    </div>
</body>
</html>