@page
@model HoleyForkingShirt.Pages.Cart.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}

    <main class="checkout">
        <h2 class="subtitle">Cart</h2>

        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InCart)
                {
                    <tr>
                        <td>
                            <a asp-page="/Products/Details" asp-route-id="@item.Product.ID">
                                @item.Product.Name
                            </a>
                        </td>
                        <td>(@item.Qty)</td>
                        <td>$@item.Product.Price</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Total: </td>
                    <td></td>
                    <td>$@Model.Total</td>
                </tr>
            </tfoot>
        </table>
        <br />
        <form method="post">
            <button type="submit">Check Out</button>
        </form>
    </main>