@page
@model HoleyForkingShirt.Pages.Admin.DashboardModel
@{
      Layout = "_Layout";
    ViewData["Title"] = "Admin Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Hello Admins and welcome to your Admin Page!</h1>
    <a asp-action="Index" asp-controller="Inventory">Manage Products Here!</a>
</body>
</html>