@page
@model HoleyForkingShirt.Pages.Products.ShopModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <p>Shop</p>
    
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Inventory)
            {
                <div class="col-4">
                    @product.Name

                    <a asp-page="/Products/Details" asp-route-id="@product.ID"><img src="@product.Image" class="img-fluid img-thumbnail"/></a>
                </div>
            }
        </div>

    </div>
</body>
</html>
